<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #employeeForm ="ngForm" (ngSubmit)="addEmployee(employeeForm)">

                    <input type="hidden" name="_id" [(ngModel)]="employeeService.selectedEmployee._id">

                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Enter your FullName" [(ngModel)]="employeeService.selectedEmployee.name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="position" placeholder="Enter your Position" [(ngModel)]="employeeService.selectedEmployee.position">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="office" placeholder="Enter your Office" [(ngModel)]="employeeService.selectedEmployee.office">
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control" name="salary" placeholder="Enter your Salary" [(ngModel)]="employeeService.selectedEmployee.salary">
                    </div>

                    <button class="btn btn-primary mr-2" (click)="resetForm(employeeForm)">
                        Clean
                    </button>

                    <button class="btn btn-secondary">
                        Save
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Office
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees">
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.office }}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="editEmployee(employee)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee._id!)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>


                </tr>

            </tbody>
        </table>

    </div>

</div>

